// 金额格式化 WXS 模块
// WXML 中调用：{{money.format(amount)}}

function format(amount) {
  var num = +amount
  if (isNaN(num)) {
    return '0'
  }
  num = Math.round(num * 100) / 100
  if (num % 1 === 0) {
    return '' + num
  }
  if (num * 10 % 1 === 0) {
    return num.toFixed(1)
  }
  return num.toFixed(2)
}

module.exports = {
  format: format
}
